{% extends "detector/base.html" %}
{% block title %}註冊新用戶{% endblock %}
{% block content %}
<div class="mx-auto dt-auth-main">
    <div class="card dt-auth-signup">
        <header>註冊新用戶</header>
        <section>
            <form
                action="{{ url_for('auth.signup', next=request.args.get('next'))}}"
                method="POST"
                class="form-signin"
            >
                {{ form.csrf_token }}
                {% for message in get_flashed_messages() %}
                <div class="dt-auth-flash">{{ message }}</div>
                {% endfor %}
                {{ form.username(size=30, class="form-control dt-auth-input", placeholder="使用者名稱") }}
                {{ form.email(class="form-control dt-auth-input", placeholder="電子郵件") }}
                {{ form.password(class="form-control dt-auth-input", placeholder="密碼") }}
                {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
            </form>
        </section>
    </div>
</div>
{% endblock %}